
  /* TripList.css */

.tableStyle {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tableStyle thead {
  background-color: #6495ed;
  color: white;
}

.tableStyle th, .tableStyle td {
  padding: 15px;
  border: 1px solid #ddd;
}

.tableStyle tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableStyle tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

  